{% extends 'base.html'%}


{% block title%} More About us {% endblock title %}

{% block content %}

<h1 class="text-center">Boston HomePage</h1>
<div class="container">
    <div class="card">
        <div class="card-header">
          About us, and our little family
        </div>
        <div class="card-body">
          <h5 class="card-title">Boston Maccabis</h5>
          <p class="card-text"> Founded in 2012, Boston Maccabi Rugby is one of the leading clubs in the New England Rugby Football Union (NERFU). Having won the NERFU DIV Championship in their inaugural season (2012) the Maccabis currently compete in NERFU DIII, and were back-to-back DIII champions in 2018 and 2019. 
            With more than 40 active players and over 100 alumni, the Maccabis have built a strong tradition of winning on the pitch and a legacy of fun and service off of it. In addition to practices and games, the Maccabis make it our mission to give back to the community and have volunteered with organizations including Cradles To Crayons, the Boston Red Sox, Jewish Children and Family Services, Smart from the Start, and more.
            In the Spring and Fall, practices are held in Watertown and matches in Newton. The Summer is highlighted by twice-weekly touch sessions in Newton and participation in the NERFU 7s Series. 
            Doesn't matter if you're a veteran or have never touched a rugby ball - come join us. </p>
          <a href="#" class="btn btn-primary">See More</a>
        </div>
      </div>
</div>

{% endblock %}