{% extends 'base.html'%}


{% block title%} Sign up {% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="row content justify-content-center d-flex">
        <div class="col-md-5 bg-body-tertiary">
            <div class="box shadow p-4">
                <h3 class="text-center">Signup</h3>
                <div class="floating mb-3">
                    <form action="" class="mb3" method="POST">
                        {{ form.csrf_token }}
                        <div class="mb-3">
                            {{ form.email(class='form-control', placeholder='Enter Email') }}
                        </div>
                        <div class="mb-3">
                            {{ form.username(class='form-control', placeholder='Enter Username') }}
                        </div>
                        <div class="mb-3">
                            {{ form.password(class='form-control', placeholder='Enter Password') }}
                        </div>
                        <div class="mb-3">
                            {{ form.confirm_pass(class='form-control', placeholder='Confirm Password') }}
                        </div>                    
                        {{ form.submit(class='btn btn-success w-100 mt-3') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}